h2 {
    margin-left: 20px;
    margin-bottom: 0px;
    font-family: good-times, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #97fcff;
}

.bikeofday {
    margin-left: 20px;
    margin-top: 5px;
    width: 75%;
    background-color: lightgray;
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
}

.image,
.description,
.price {
    display: inline-block;
    vertical-align: top;
}

.image {
    width: 30%;
}

img {
    width: 50%;
}

.description {
    width: 45%;
    overflow: scroll;
}

.price {
    width: 10%;
}

h3 {
    color: steelblue;
}