nav {
    display: inline-block;
}

a {
    margin: 10px;
    margin-left: 35px;
    color: inherit;
    color: #97fcff;
    text-decoration: underline;
    font-size: 15pt;
}

a:active {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}

.verticalLine {
    display: inline-block;
    border-left: 2px solid black;
}

.component {
    margin: 35px;
}

.header {
    margin: 10px;
}